body{
    font-family: 'Akrobat Semibold';
    background-image: url(img/wall.jpg);
    background-size: cover;
 
    animation: fadein;
    animation-duration: 2s;
}

h1{
    color: white;
    margin: 0px;
    transform: jj;
    transition-duration: 3s;
    font-size: 30px;
    animation: jj 2s;
}

p{
    margin: 0px;
    color: white;
}

span{
    color: #ffa800;
}

.main_1{
    max-width: 500px;
    width: 100%;
    margin: 100px auto;
    
    text-align: center;
}

.buttons{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    
    animation: kk 2s;    
}

.buton:hover{
    color: black;
    background-color: #ffa800;
}

a{
    margin: 5px;
    padding: 5px 50px;
    border: 3px #ffa800 solid;
    border-radius: 100px;
    color: white;
    text-decoration: none;
}


@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes jj{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes kk{
    0%{
        transform: translateY(100%);
    }    
    100%{
        transform: translateY(0%);
    }
}

/* media */

@media (max-width:1246px){
     
}

@media (max-width: 964px){
    
}


@media (max-width:643px){
     
}

@media (max-width:482px){
    .main_1{
        max-width: 400px;
        width: 80%;
        margin: 100px auto;
    }  
}












