input {
    display: none;
}
label {
    cursor: pointer;
}

.nav{
    user-select: none;
    right: 0;
    
    z-index: 9000;    
}

.nav__showmenu {
    position: sticky;
    z-index: 3;
    padding: 2px 5px 0px;
    
    margin-top: 0;
    
    top: 0px;
    bottom: 0;
    right: 10px;
    
    font-size: 20px;
    
    color: white;
    
    height: 20px;
}

.nav__back {
    position: fixed;
    top: 0;
    right: 0;  
    bottom: 0;
    
    transition: background-color .3s;
}

.menu, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #FCC419;
    overflow: hidden;
    
  }

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 200px;
    
    margin: 0;
    padding: 17px 0;
    line-height: 2em;
    background-color: #0F0F0F;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform .3s;
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}

.menu__submenu {
    font-size: .8em;
    background-color: #ddd;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.menu__showsub {
    position: absolute;
    right: 0px;
    margin-top: -34px;
    padding: 10px;
    line-height: normal;
}

.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    
    font-size: 12px;
}

.this{
    color: #FCC419;
}

.menu__submenu .menu__item {
    color: #000;
}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#fff;}
.menu__check:checked~.menu__submenu {max-height: 100vh;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(0);}


/* mobile nav*/

.center_mobile_name{
    color: white;
    font-size: 12px;
    
    margin: 9px auto 0px;
    
    padding: 0px 100px 0px 100px;
    
    border-right: 1px solid #4c4c4c;
    border-left: 1px solid #4c4c4c;
    height: 17px;   
}

h1{
    margin: 0px;
}

span{
    color: white;
}

.garyshker_logo_mg{    
    margin-left: 10px;
    margin-top: 4px;
    
    font-family: 'Akrobat Semibold';
    
    font-size: 20px;
    text-decoration: none;
    color: #FCC419;
    
    height: 30px;
}

@font-face {
    font-family: 'Akrobat Semibold';
    src: url('Akrobat-SemiBold.eot');
    src: url('Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Akrobat-SemiBold.woff') format('woff'),
    url('Akrobat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}