body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(spaceeee.jpg);
    background-size: 100%;
    color: aliceblue;
}    

.imagee{
    width: 1200px;
    height: 500px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.headin{
    margin: 15px 15px;
    font-size: 25px;
}
.nav{
    display: inline-block;
    margin: 0 0 0 700px;
    
}

.links{
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: red;
    
    border: 1px solid red;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    
    transition-duration: 0.4s;
}

.links:hover{
    background-color: white;
    color: black;
    border-color: white;
}

.sectionin{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 100px;
    margin: 0px auto;
}

#W{
    color: red;
}
p{
    margin: 0;
    font-weight: 550;
}

.learn{
    font-size: 15px;
    font-weight: 400;
    border: 3px solid red;
    border-radius: 100px;
    padding: 5px 30px;
    text-decoration: none;
    color: white;
    background-color: red;

    transition-duration: 0.3s;
}

.learn:hover{
    color:black;
    background-color: white;
    border-color: white;
}

.info{
    width: 12ch;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid red;
    
    animation: flashing-border 0.75s step-end infinite, printed-text 5s steps(17);
}

@keyframes flashing-border{
    0%{
        border-color: red;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: red;
    }
}

@keyframes printed-text{
    from{
        width: 0;
    }
}

.contacs{
    margin: 200px auto 15px auto;
}
#inbox{
    color:red;
}
#gmail{
    color: blue;
}

.wannaleave{
    display: flex;
    flex-direction: column;
    
}
