iframe{
    display: block;
    width: 60%;
    
    border-radius: 20px;
}


.text_under_video{
    width: 40%; 

    display: flex;
    flex-direction: column;
    

    height: 330px;

    border-radius: 20px;
    
    color: black;
    text-align: center;
    background-color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
}

.video_two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    
    width: 100%;
    padding: 20px;
}

.video_text{
    text-align: left;
}

.two_header{
    font-size: 8px;
    color: #787878;
}

.two_headname{
    color: #FCC419;
    font-size: 10px;
}

.two_texthead{
    color: white;
    font-size: 12px;
}

.two_text{
    color: white;
    font-size: 12px;
}

.ved_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ved_img1{
    width: 64px;
    height: 88px;
    border-radius: 15px;
    background-color: darkgray;   
    margin-right: 5px;
       
}

.video_twotwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    text-align: left;
    
    width: 50%;
    padding: 20px;
}

.ved_names{
    color: white;
    font-size: 10px;
}

.ved_prof{
    color: #FCC419;
}

.two_text_author_guest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: white;
}

.two_text_aut{
    color: #FCC419;
    font-size: 8px;
}

.two_text_gu{
    color: #FCC419;
    font-size: 8px;
}

.two_text_gu_name, .two_text_aut_name{
    font-size: 12px;
}

.container_ewe{
    display: flex;
    flex-direction: column;

    max-width: 948px;
    width: 100%;
    
    margin: 0 auto;
}


.ewe_video_text{
    
    color: #FCC419;
    
    text-transform: uppercase;
    
    text-align: center;
    
    font-size: 14px;
}

.container_video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.ewe_video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.author_video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-size: 12px;
    
    color: white;
}

.author_guest{
    color: #fcc419;
}


.author_arc1{
    display: flex;
    flex-direction: column;
}

@media (max-width: 964px){
    
    .container{
        max-width: 643px;
        width: 100%;
        margin: 0 auto;
    }
    
    .container_ewe{
        max-width: 643px;
        width: 100%;
        
        margin: 0 auto;
        
    }
    
    .text_under_video{
        height: 260px;
        width: 100%;
        
        border-radius: 15px;
    }
    
    iframe{
        width: 100%;
    }
    
    iframe{
        border-radius: 15px;
    }
    
}

@media (max-width: 643px){
    
    .container{
        max-width: 480px;
        margin: 0 auto;
    }
    
    .container_video{
        display: flex;
        flex-direction: column;
    }
    
    .container_ewe{
        max-width: 320px;
        width: 100%;
        
        margin: 0 auto;
    }
    
    .text_under_video{
        height: 300px;
    }
    
    
}

@media (max-width: 480px){
    .container{
        max-width: 308px;
        margin: 0 auto;
    }
    
    .text_under_video{
        height: 360px;
    }
}

.modal__close{
    height: 20px;
    padding: 5px 5px 0px 0px;
    border: 0;

    background-color: #1E1E1E;
    color: white;
}




