/* arcticle*/

body{
    font-family: 'Montserrat', 'Sans-serif';
    background-image: url(../img/wall.jpg);
    background-size: contain;
    
    padding-bottom: 150px;
}

.arcticle{
    max-width: 820px;

    margin: 0 auto;
    
    background-color: #2b2b2b;
    color: white;
    
    border-radius: 20px;
}

.arcticle_img{
    max-width: 850px;
    width: 100%;
    
    border-radius: 15px;
    
    padding: 10px 10px;
}

/* TEXT */

.text{
    padding: 0px 90px;
}

.arcticle_type{
    text-align: center;
    color: #FCC419;
    font-size: 12px;    
}

.arcticle_head{
    text-align: center;
    font-size: 20px;
}

.arcticle_time{
    text-align: center;
    font-size: 12px;
    color: grey;
}

.text_arcticle{
    font-size: 14px;
    line-height: 22px;
    word-spacing: 2px;
    
    text-align: left;
}

/* author*/
.block2{
    width:100%; 
    max-width: 314px;
    
    display: flex;
    flex-direction: column;
        
    color: black;
    border-radius: 15px;
    
    margin-left: 15px;
}

.author_arc{
    width:100%; 
    max-width: 314px;
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px;
    
    color: white;
    border-radius: 15px;

    margin: 0px auto 30px auto;
}

.author_img{
    width: 140px;
    height: 104px;
    border-radius: 15px;
    background-color: darkgray;
}

.author_guest{
    color: #FAB005;
    font-size: 14px;
    margin: 0px 5px;
}

.author_name{
    font-size: 14px;  
    margin: 5px 5px;
    color: #B4B4B4;
}

/* button */
.me{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
            
    transition: all .2s;
    
    border: none;
}
    
.me:hover{
    background-color: darkgoldenrod;
}

/* button in*/
.but_in{
    position: fixed;
    top: 23px;
    right: 0;
    
    height: 20px;
    
    padding: 20px 20px;
    border: none;
    
    background-image: url(inverse/moon.png);
    background-size: cover;
    
}

.but_in_inv{
    background-image: url(inverse/sun.png);
    background-size: cover;
}


.black{
    background-color: white;
    color: black;
}
   

/*ewe arcticle*/

.container_ewe{
    display: flex;
    flex-direction: column;
    
    max-width: 720px;
    width: 100%;
    margin: 30px auto;
}

.ewe_text{
    color: #FCC419;
    text-align: center;
}

@media (min-width:964px){
    .but_in{
        position: fixed;
        bottom: 140px;
        right: 140px;
    }
}

@media (min-width:643px){
    .but_in{
        position: fixed;
        bottom: 90px;
        right: 90px;
    }
}

@media (max-width: 964px){
    
    .container_ewe{
        max-width: 643px;
    }
    
    .text{
        padding: 0px 80px;
    }
    
    .block2{
        margin-top: 10px;
        margin-left: 0px;
    }
    
    
    
}

@media (max-width: 643px){
    .container_ewe{
        max-width: 482px;
    }
    
    body{
        background-image: url(../img/black.jpg);
    }
}

@media (max-width:482px){
    
    .container_ewe{
        max-width: 308px;
    }
    
    .text{
        padding: 0px 10px;
    }
    
    p{
        font-size: 11px;
    }
    
}

.nocolor{
    opacity: 0;
}


/* carousel */
a{
  text-decoration:none;
  color:#2F8AFF;
}
.carousel-container {
  position:relative;
  width:400px;
  
  margin: 0 auto;
    
}
.carousel-main {
  height:200px;
  width:400px;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border-radius:10px;
  cursor:pointer;
  text-align:center;
  box-shadow:0 0 15px 3px rgba(0,0,0,.1);
  background-color:#fff;
 
}

.carousel-feature  a{
  font-size:18px;
}

.carousel-image {
  border:0;
  display:block;
}

p a{
  font-size: 20px;
  font-weight: bold;
}

